html, 
body {
	margin: 0;
	padding: 0;
}

li:hover {
	cursor: pointer;
	background-color: grey;
	color: white;
}

.header1 {
	color: #f2f2f2;
	background-color: #123456;
	font-size: 40px;
	text-align: center;
	border-radius: 15px;
	margin-top: 3%;
	box-shadow: white 6px 6px 6px;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.container-fluid {
	font-family: "Pacifico", cursive;
	background-color: #fadcf6;
}

#map {
	height: 100vh;
}

#floating-button {
	display: none;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #db4437;
	position: fixed;
	bottom: 30px;
	left: 30px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #666;
}

.plus {
	color: white;
	position: absolute;
	top: 0;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 55px;
	font-size: 38px;
	font-family: 'Roboto';
	font-weight: 300;
	animation: plus-out 0.3s;
	transition: all 0.3s;
}

@media screen and (max-width: 767px) {
	.top {
		height: 100vh;
	}
	.toHide {
		display: none;
	}
	#floating-button {
		display: block;
		bottom: 1.5%;
		left: 3%;
	}
}

.mybutton {
	-moz-box-shadow: 0px 10px 14px -7px #0c353b;
	-webkit-box-shadow: 0px 10px 14px -7px #0c353b;
	box-shadow: 0px 10px 14px -7px #0c353b;
	background-color: #616161;
	border-radius: 8px;
	display: inline-flex;
	cursor: pointer;
	color: #ffffff;
	font-family: "Roboto Condensed";
	font-size: 10px;
	font-weight: bold;
	padding: 10px 26px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #0f0608;
}

.mybutton:hover {
	background-color: transparent;
	color: blue;
}

.mybutton:active {
	position: relative;
	top: 1px;
}
